{% extends 'base.html' %}

{% block content %}
<div id="chat-container" class="flex-1 px-8 py-3 mt-16">
    
    <div class="flex flex-col mb-2">
        {% for item in conv %}
        <div class="flex items-end justify-end">
            <div class=" message-container bg-gray-300 text-gray-700 p-2 rounded-lg" data-content="{{ message.question }}" style="max-width: 500px;">
                <p>{{ item.question }}</p>
                <div class="example-content hidden absolute bg-white p-2 mt-2 rounded-lg">
                    <button id="openModalBtn" data-question="{{ item.question }}">Request Context</button>
                </div>
            </div>
        </div>
        <div class="flex items-start mb-2">
            <div class="bg-amber-700 text-white p-2 rounded-lg " style="max-width: 500px;">
                <p>{{ item.bot }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    
    

<div id="myModal" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div id="" class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg animate__animated animate__fadeIn">
                <!-- Modal Content -->
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="bg-white p-8 w-full max-w-md">
                            <form action="{% url 'request_context' %}" method="post">

                    
                                {% csrf_token %}
                                <div class="mb-4">
                                    <label for="question" class="block text-gray-600 text-sm font-medium mb-2">Input</label>
                                    <input type="text" id="question" name="question" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" readonly>
                                </div>
                    
                                <div class="mb-6">
                                    <label for="comment" class="block text-gray-600 text-sm font-medium mb-2">Comment</label>
                                    <textarea id="Comment" name="comment" rows="4" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" placeholder="Your Comment" required></textarea>
                                </div>
                        </div>
                            
                        
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="submit" class="submit mt-3 inline-flex w-full justify-center rounded-md bg-amber-600 px-3 py-2 font-semibold text-white shadow-sm hover:bg-amber-500 sm:ml-3 sm:w-auto">Submit</button>
                </form>
                    <button id="closeModalBtn" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const messageContainers = document.querySelectorAll('.message-container');

            messageContainers.forEach(container => {
                container.addEventListener('mouseover', function () {
                    this.style.backgroundColor = '#e2e8f0'; // Change background color on hover
                });

                container.addEventListener('mouseout', function () {
                    if (!this.querySelector('.example-content:hover')) {
                        this.style.backgroundColor = ''; // Revert back to original background color
                    }
                });

                container.addEventListener('click', function () {
                    const exampleContent = this.querySelector('.example-content');
                    toggleExampleContent(exampleContent);
                });
            });

            function toggleExampleContent(exampleContent) {
                exampleContent.classList.toggle('hidden');
            }
        });


        $(document).ready(function () {
            // Get references to modal and buttons
            const modal = $('#myModal');
            const openBtn = $('#openModalBtn');
            const closeBtn = $('#closeModalBtn');

            // Function to open the modal
            $('#chat-container').on('click', '#openModalBtn', function () {
                const question = $(this).data('question');
                $('#question').val(question);
                modal.show();
            });
            function closeModal() {
                modal.hide();
            }

            // Event listener for opening the modal
            
            closeBtn.on('click', closeModal);

            // Close modal if user clicks outside the content
            $(window).on('click', function (e) {
                if (e.target === modal[0]) {
                    modal.hide();
                }
            });
        });
    </script>
</div>

{% endblock %}
