{% extends 'custom_admin/base.html' %}

{% block content %}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<div class="p-8 text-center">
    
    <img src="path_to_your_avatar_image.jpg" alt="AI Avatar" class="w-40 h-40 mx-auto rounded-full mb-4">
        
    
    <h2 class="text-xl font-bold mb-4">A-Bot</h2>
    
    
    {% if user.is_authenticated %}
    <p class="text-white-600 mb-6">Hello {{ firstname }}! Im A-Bot how can I assist you today?</p>
    {% else %}
    <p class="text-white-600 mb-6">Hello Guest! Im A-Bot how can I assist you today?</p>
    {% endif %}

    <p>{{ query }}</p>
    
    
    <div class="w-full">
        <form action="{% url 'testabot' %}" method="post">
        {% csrf_token %}   
        <input type="text" id="result" name="result" placeholder="Type your message..." 
               class="text-black border border-gray-300 rounded-l-xl p-2 w-4/5">

        <div class="py-4">
            <button class="submit bg-amber-600 text-white rounded-xl p-2 w-1/5 hover:bg-amber-700 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 ">Send</button>

            
        </form>
        
        </div>
        
        <button class="button-area" id="toggleRecognition">
            <i class="fas fa-microphone text-white-600 hover:bg-gray-300"></i>
        </button>
    </div>
</div>

<script>
    
    const recognition = new webkitSpeechRecognition();

    
    recognition.continuous = true;
    recognition.interimResults = true;
    let isRecognitionActive = false;

    const toggleButton = document.getElementById("toggleRecognition");
    const resultInput = document.getElementById("result");

    
    recognition.onresult = (event) => {
        
        resultInput.value = event.results[0][0].transcript;
    };


    function toggleButtonIcon() {
        const iconElement = toggleButton.querySelector("i");
        
        
        iconElement.classList.toggle("text-red-600");
        
    }

    
    toggleButton.addEventListener("click", () => {
        if (isRecognitionActive) {
            
            recognition.stop();
            toggleButtonIcon();
        } else {
            
            recognition.start();
            toggleButtonIcon();
        }
        isRecognitionActive = !isRecognitionActive;
    });
</script>

{% endblock %}